.env
data/raw/*.csv
logs/*.log
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/
.venv-airflow/
*.egg-info/
.ipynb_checkpoints/
airflow.db
airflow.cfg
airflow-webserver.pid
airflow_home/
.pgdata/
.DS_Store
great_expectations/uncommitted/
